<p-tag severity="secondary">
    <div class="grid place-items-center auto-cols-max">

        <div class="flex gap-0.5">
            @for(s of tag().manaString; track s){
            @if( s==='(' || s===')'){
            <span> {{s}} </span>
            }
            @else {
            <span [class]="colorClass(s)" class="">
                <i class="ms ms-{{s}}"></i>
            </span>
            }
            }
        </div>
        <span class="capitalize whitespace-nowrap">
            {{ tag().description}}
        </span>

    </div>
</p-tag>