<p-tag severity="secondary">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">

        <div class="flex gap-0.5">
            @for(s of tag().manaString; track s){
            @if( s==='(' || s===')'){
            <span> {{s}} </span>
            }
            @else {
            <span [class]="colorClass(s)" class="">
                <i class="ms ms-{{s}}"></i>
            </span>
            }
            }
        </div>
        <span class="capitalize">
            {{ tag().description}}
        </span>

    </div>
</p-tag>