<div class="flex flex-wrap flex items-center justify-items-center-safe  gap-x-2 mx-4">

    @if(tag().manaString && tag().manaString.length > 0) {
    <p-tag severity="secondary">

        <div class="flex  gap-0.5">
            @for(s of tag().manaString; track s){
            @if( s==='(' || s===')'){
            <span> {{s}} </span>
            }
            @else {
            <span [class]="colorClass(s)" class="">
                <i class="ms ms-{{s}}"></i>
            </span>
            }
            }
        </div>
    </p-tag>
    }
    <span class="capitalize">
        {{ tag().description}}
    </span>
</div>