<p-fieldset class="" legend="Classement" toggleable="true">


    <p-tree-table [value]="nodes()" size="small" scrollable="true" tableStyleClass="">
        <ng-template #header>
            <tr class="">
                <th>Joueur</th>
                <th>Elo</th>
                <th>MàJ</th>
                <th>Ronde</th>

            </tr>
        </ng-template>
        <ng-template #body let-rowNode let-stat="rowData">
            <tr [ttRow]="rowNode">

                <td>
                    <div class="inline-flex items-center gap-2">
                        <p-treetable-toggler [rowNode]="rowNode" />
                        {{ stat.name }}
                        @if(stat.oppData){
                        vs {{ stat.oppData.player }} ({{stat.oppData.elo}})
                        }
                    </div>
                </td>
                <td>
                    <app-elo-change [elo]="stat.elo" class=""></app-elo-change>
                    @if(stat.eloValue){
                    {{stat.eloValue}}
                    }
                </td>

                <td>{{ stat.date | date:'dd/MM/yyyy' }}</td>
                <td>{{stat.round}} </td>
            </tr>
        </ng-template>
    </p-tree-table>
</p-fieldset>