@if(elo() && elo()?.elo){

<div class="flex flex-wrap items-center justify-end gap-1">
    <div>

        {{elo()!.oldElo}}
    </div>

    <div>
        <div class="flex flex-row items-center gap-1">
            @if(changeDir() ===0){
            <svg data-p-icon="arrow-right"></svg>
            }@else if(changeDir()>0){
            <svg data-p-icon="arrow-up-right"></svg>
            }@else{
            <svg data-p-icon="arrow-down-right"></svg>
            }
            {{elo()!.elo}}
        </div>
    </div>
</div>
}